{% comment %}
  ******************************************
    Author: Ahmed Ben Mahmoud
      Info:
        This section displays a list of selected products/categories in different layouts.
  ******************************************
{% endcomment %}

{% liquid
  assign breakpoint_desktop = section.settings.breakpoint_desktop | default: settings.breakpoint_desktop | default: 1280
  assign breakpoint_tablet = section.settings.breakpoint_tablet | default: settings.breakpoint_tablet | default: 768
  assign products_list = section.blocks | where: 'type', 'products-list' | first
%}

{% style %}
  #shopify-section-{{ section.id }}{
    --margin-top: {{ section.settings.margin_top_mobile | default: 0 }}px;
    --margin-bottom: {{ section.settings.margin_bottom_mobile | default: 0 }}px;
    --padding-top: {{ section.settings.padding_top_mobile | default: 0 }}px;
    --padding-bottom: {{ section.settings.padding_bottom_mobile | default: 0 }}px;
    --padding-left: {{ section.settings.padding_left_mobile | default: 0 }}px;
    --padding-right: {{ section.settings.padding_right_mobile | default: 0 }}px;

    margin: var(--margin-top) auto var(--margin-bottom);
    padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
    isolation: isolate;
  }
  #shopify-subsection-{{ section.id }}{
    --max-width: {% if section.settings.max_width_mobile > 0 %}{{ section.settings.max_width_mobile | default: breakpoint_tablet }}px {% else %} unset {% endif %};

    width: 100%;
    max-width: var(--max-width);
    margin-right: auto;
    margin-left: auto;

  }

  @media all and (min-width: {{ breakpoint_tablet }}px){
    #shopify-section-{{ section.id }}{
      --margin-top: {{ section.settings.margin_top_tablet | default: 0 }}px;
      --margin-bottom: {{ section.settings.margin_bottom_tablet | default: 0 }}px;
      --padding-top: {{ section.settings.padding_top_tablet | default: 0 }}px;
      --padding-bottom: {{ section.settings.padding_bottom_tablet | default: 0 }}px;
      --padding-left: {{ section.settings.padding_left_tablet | default: 0 }}px;
      --padding-right: {{ section.settings.padding_right_tablet | default: 0 }}px;
    }
    #shopify-subsection-{{ section.id }}{
      --max-width: {% if section.settings.max_width_tablet > 0 %}{{ section.settings.max_width_tablet | default: breakpoint_desktop }}px {% else %} unset {% endif %};
    }
  }

  @media all and (min-width: {{ breakpoint_desktop }}px){
    #shopify-section-{{ section.id }}{
      --margin-top: {{ section.settings.margin_top_desktop | default: 0 }}px;
      --margin-bottom: {{ section.settings.margin_bottom_desktop | default: 0 }}px;
      --padding-top: {{ section.settings.padding_top_desktop | default: 0 }}px;
      --padding-bottom: {{ section.settings.padding_bottom_desktop | default: 0 }}px;
      --padding-left: {{ section.settings.padding_left_desktop | default: 0 }}px;
      --padding-right: {{ section.settings.padding_right_desktop | default: 0 }}px;
    }

    #shopify-subsection-{{ section.id }}{
      --max-width: {% if section.settings.max_width_desktop > 0 %}{{ section.settings.max_width_desktop | default: 1920 }}px {% else %} unset {% endif %};
    }
  }
{% endstyle %}

<div id="shopify-subsection-{{ section.id }}">
  {% liquid
    for block in section.blocks
      case block.type
        when 'title'
          assign content = block.settings.title
          assign collection = products_list.settings.collection | first
          if content == ''
            assign content = collection.title
          endif
          if content != '' and content
            render 'text-custom', block: block, breakpoint_desktop: breakpoint_desktop, breakpoint_tablet: breakpoint_tablet, content: content
          endif
        when 'products-list'
          assign collection = block.settings.collection | first
          if collection.products
            render 'meliodas_products_list', block: block, breakpoint_desktop: breakpoint_desktop, breakpoint_tablet: breakpoint_tablet
          endif
      endcase
    endfor
  %}
</div>

{% render 'utility-section-fonts' %}
{% schema %}
{
  "name": "Products List",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Section created by Ahmed Ben Mahmoud. Please request developer for efficient & fast modifications."
    },
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "header",
      "content": "Margin Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Margin Tablet"
    },
    {
      "type": "range",
      "id": "margin_top_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Margin Desktop"
    },
    {
      "type": "range",
      "id": "margin_top_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Padding Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Left",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Right",
      "default": 0
    },
    {
      "type": "header",
      "content": "Padding Tablet"
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Left",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Right",
      "default": 0
    },
    {
      "type": "header",
      "content": "Padding Desktop"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Left",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Right",
      "default": 0
    },
    {
      "type": "header",
      "content": "Max Width"
    },
    {
      "type": "number",
      "id": "max_width_mobile",
      "label": "Section Max Width Mobile (px)",
      "info": "If this setting is empty or set to 0 or less, the maximum width will not be set"
    },
    {
      "type": "number",
      "id": "max_width_tablet",
      "label": "Section Max Width Tablet (px)",
      "info": "If this setting is empty or set to 0 or less, the maximum width will not be set"
    },
    {
      "type": "number",
      "id": "max_width_desktop",
      "label": "Section Max Width Desktop (px)",
      "info": "If this setting is empty or set to 0 or less, the maximum width will not be set"
    },
    {
      "type": "header",
      "content": "Breakpoints"
    },
    {
      "type": "number",
      "id": "breakpoint_tablet",
      "label": "Tablet Breakpoint (px)",
      "placeholder": "768"
    },
    {
      "type": "number",
      "id": "breakpoint_desktop",
      "label": "Desktop Breakpoint (px)",
      "placeholder": "1280"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "If left empty it will use the selected collection title"
        },
        {
          "type": "header",
          "content": "Typography"
        },
        {
          "type": "font_picker",
          "id": "font_face",
          "label": "Font",
          "default": "lato_n4"
        },
        {
          "type": "header",
          "content": "Font size & Line height Mobile"
        },
        {
          "type": "range",
          "id": "font_size_mobile",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 10
        },
        {
          "type": "range",
          "id": "line_height_mobile",
          "min": 90,
          "max": 190,
          "step": 1,
          "unit": "%",
          "label": "Line height",
          "default": 150
        },
        {
          "type": "header",
          "content": "Font size & Line height Tablet"
        },
        {
          "type": "range",
          "id": "font_size_tablet",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 10
        },
        {
          "type": "range",
          "id": "line_height_tablet",
          "min": 90,
          "max": 190,
          "step": 1,
          "unit": "%",
          "label": "Line height",
          "default": 150
        },
        {
          "type": "header",
          "content": "Font size & Line height Desktop"
        },
        {
          "type": "range",
          "id": "font_size_desktop",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 10
        },
        {
          "type": "range",
          "id": "line_height_desktop",
          "min": 90,
          "max": 190,
          "step": 1,
          "unit": "%",
          "label": "Line height",
          "default": 150
        },
        {
          "type": "header",
          "content": "block alignment"
        },
        {
          "type": "select",
          "id": "block_alignment_mobile",
          "label": "Block Alignment Mobile",
          "options": [
            {
              "value": "flex-start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "block_alignment_tablet",
          "label": "Block Alignment Tablet",
          "options": [
            {
              "value": "flex-start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "block_alignment_desktop",
          "label": "Block Alignment Desktop",
          "options": [
            {
              "value": "flex-start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "header",
          "content": "Text Align"
        },
        {
          "type": "select",
          "id": "text_alignment_mobile",
          "label": "Text Alignment Mobile",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "text_alignment_tablet",
          "label": "Text Alignment Tablet",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "text_alignment_desktop",
          "label": "Text Alignment Desktop",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "header",
          "content": "Design"
        },
        {
          "type": "color",
          "id": "text_color_mobile",
          "label": "Text Color Mobile",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "text_color_tablet",
          "label": "Text Color Tablet",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "text_color_desktop",
          "label": "Text Color Desktop",
          "default": "#000000"
        },
        {
          "type": "header",
          "content": "Spacing Mobile"
        },
        {
          "type": "paragraph",
          "content": "Margins"
        },
        {
          "type": "range",
          "id": "margin_bottom_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin Bottom",
          "default": 0
        },
        {
          "type": "paragraph",
          "content": "Padding"
        },
        {
          "type": "range",
          "id": "padding_top_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Top",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Bottom",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_left_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Left",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_right_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Right",
          "default": 0
        },
        {
          "type": "header",
          "content": "Spacing Tablet"
        },
        {
          "type": "paragraph",
          "content": "Margins"
        },
        {
          "type": "range",
          "id": "margin_bottom_tablet",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin Bottom",
          "default": 0
        },
        {
          "type": "paragraph",
          "content": "Padding"
        },
        {
          "type": "range",
          "id": "padding_top_tablet",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Top",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom_tablet",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Bottom",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_left_tablet",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Left",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_right_tablet",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Right",
          "default": 0
        },
        {
          "type": "header",
          "content": "Spacing Desktop"
        },
        {
          "type": "paragraph",
          "content": "Margins"
        },
        {
          "type": "range",
          "id": "margin_bottom_desktop",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin Bottom",
          "default": 0
        },
        {
          "type": "paragraph",
          "content": "Padding"
        },
        {
          "type": "range",
          "id": "padding_top_desktop",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Top",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom_desktop",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Bottom",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_left_desktop",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Left",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_right_desktop",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Right",
          "default": 0
        },
        {
          "type": "header",
          "content": "Max Width"
        },
        {
          "type": "number",
          "id": "max_width_mobile",
          "label": "Max Width Mobile (px)"
        },
        {
          "type": "number",
          "id": "max_width_tablet",
          "label": "Max Width Tablet (px)"
        },
        {
          "type": "number",
          "id": "max_width_desktop",
          "label": "Max Width Desktop (px)"
        }
      ]
    },
    {
      "type": "products-list",
      "name": "Products List",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "General Settings"
        },
        {
          "type": "collection_list",
          "id": "collection",
          "label": "Collection",
          "limit": 1,
          "info": "Select the collection of products to be listed"
        },
        {
          "type": "number",
          "id": "products_per_page",
          "label": "Max Number of Products to display",
          "default": 20,
          "info": "The maximum number of products to display by default ( pagination )"
        },
        {
          "type": "select",
          "id": "section_layout",
          "label": "Section Layout",
          "options": [
            {
              "value": "2",
              "label": "2-columns Layout"
            },
            {
              "value": "3",
              "label": "3-columns Layout"
            }
          ],
          "default": "2"
        },
        {
          "type": "header",
          "content": "Typography"
        },
        {
          "type": "font_picker",
          "id": "font_face",
          "label": "General Font",
          "default": "lato_n4"
        },
        {
          "type": "font_picker",
          "id": "font_face_title",
          "label": "Title Font",
          "default": "lato_n4"
        },
        {
          "type": "header",
          "content": "Product Card Settings"
        },
        {
          "type": "paragraph",
          "content": "Card Border radius"
        },
        {
          "type": "range",
          "id": "card_br_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "mobile",
          "default": 0
        },
        {
          "type": "range",
          "id": "card_br_tablet",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "tablet",
          "default": 0
        },
        {
          "type": "range",
          "id": "card_br_desktop",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "desktop",
          "default": 0
        },
        {
          "type": "paragraph",
          "content": "Card Background Color"
        },
        {
          "type": "color_background",
          "id": "card_bg_color",
          "label": "Card Background Color"
        },
        {
          "type": "color_background",
          "id": "card_bg_color_hover",
          "label": "Card Background Color on hover or focus"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product List 2-column Layout",
      "settings": {
      "margin_top_mobile": 0,
        "margin_bottom_mobile": 0,
        "margin_top_tablet": 0,
        "margin_bottom_tablet": 0,
        "margin_top_desktop": 0,
        "margin_bottom_desktop": 0,
        "padding_top_mobile": 0,
        "padding_bottom_mobile": 0,
        "padding_left_mobile": 15,
        "padding_right_mobile": 15,
        "padding_top_tablet": 0,
        "padding_bottom_tablet": 0,
        "padding_left_tablet": 20,
        "padding_right_tablet": 20,
        "padding_top_desktop": 0,
        "padding_bottom_desktop": 0,
        "padding_left_desktop": 20,
        "padding_right_desktop": 20,
        "max_width_mobile": 382,
        "max_width_tablet": 1138,
        "max_width_desktop": 1138
      },
      "blocks": [
        {
          "type": "title",
          "settings": {
            "title": "My Collection Title",
            "font_face": "source_code_pro_n4",
            "font_size_mobile": 20,
            "line_height_mobile": 150,
            "font_size_tablet": 24,
            "line_height_tablet": 150,
            "font_size_desktop": 36,
            "line_height_desktop": 150,
            "block_alignment_mobile": "flex-start",
            "block_alignment_tablet": "flex-start",
            "block_alignment_desktop": "flex-start",
            "text_alignment_mobile": "center",
            "text_alignment_tablet": "center",
            "text_alignment_desktop": "center",
            "text_color_mobile": "#000000",
            "text_color_tablet": "#000000",
            "text_color_desktop": "#000000",
            "margin_bottom_mobile": 20,
            "padding_top_mobile": 20,
            "padding_bottom_mobile": 0,
            "padding_left_mobile": 0,
            "padding_right_mobile": 0,
            "margin_bottom_tablet": 20,
            "padding_top_tablet": 20,
            "padding_bottom_tablet": 0,
            "padding_left_tablet": 0,
            "padding_right_tablet": 0,
            "margin_bottom_desktop": 30,
            "padding_top_desktop": 30,
            "padding_bottom_desktop": 0,
            "padding_left_desktop": 0,
            "padding_right_desktop": 0
          }
        },
        {
          "type": "products-list",
          "settings": {
            "collection": "my-collection",
            "products_per_page": 6,
            "section_layout": "2",
            "font_face": "source_code_pro_n4",
            "font_face_title": "source_code_pro_n5",
            "card_br_mobile": 12,
            "card_br_tablet": 12,
            "card_br_desktop": 12,
            "card_bg_color": "#F8F8F8",
            "card_bg_color_hover": "#FDDDDD"
          }
        }
      ]
    },
    {
      "name": "Product List 3-column Layout",
      "settings": {
      "margin_top_mobile": 0,
        "margin_bottom_mobile": 0,
        "margin_top_tablet": 0,
        "margin_bottom_tablet": 0,
        "margin_top_desktop": 0,
        "margin_bottom_desktop": 0,
        "padding_top_mobile": 0,
        "padding_bottom_mobile": 0,
        "padding_left_mobile": 15,
        "padding_right_mobile": 15,
        "padding_top_tablet": 0,
        "padding_bottom_tablet": 0,
        "padding_left_tablet": 20,
        "padding_right_tablet": 20,
        "padding_top_desktop": 0,
        "padding_bottom_desktop": 0,
        "padding_left_desktop": 20,
        "padding_right_desktop": 20,
        "max_width_mobile": 382,
        "max_width_tablet": 1138,
        "max_width_desktop": 1138
      },
      "blocks": [
        {
          "type": "title",
          "settings": {
            "title": "My Collection Title",
            "font_face": "source_code_pro_n4",
            "font_size_mobile": 20,
            "line_height_mobile": 150,
            "font_size_tablet": 24,
            "line_height_tablet": 150,
            "font_size_desktop": 36,
            "line_height_desktop": 150,
            "block_alignment_mobile": "flex-start",
            "block_alignment_tablet": "flex-start",
            "block_alignment_desktop": "flex-start",
            "text_alignment_mobile": "center",
            "text_alignment_tablet": "center",
            "text_alignment_desktop": "center",
            "text_color_mobile": "#000000",
            "text_color_tablet": "#000000",
            "text_color_desktop": "#000000",
            "margin_bottom_mobile": 20,
            "padding_top_mobile": 20,
            "padding_bottom_mobile": 0,
            "padding_left_mobile": 0,
            "padding_right_mobile": 0,
            "margin_bottom_tablet": 20,
            "padding_top_tablet": 20,
            "padding_bottom_tablet": 0,
            "padding_left_tablet": 0,
            "padding_right_tablet": 0,
            "margin_bottom_desktop": 30,
            "padding_top_desktop": 30,
            "padding_bottom_desktop": 0,
            "padding_left_desktop": 0,
            "padding_right_desktop": 0
          }
        },
        {
          "type": "products-list",
          "settings": {
            "collection": "my-collection",
            "products_per_page": 6,
            "section_layout": "3",
            "font_face": "source_code_pro_n4",
            "font_face_title": "source_code_pro_n5",
            "card_br_mobile": 12,
            "card_br_tablet": 12,
            "card_br_desktop": 12,
            "card_bg_color": "#F8F8F8",
            "card_bg_color_hover": "#FDDDDD"
          }
        }
      ]
    }
  ]
}
{% endschema %}
