{% comment %}
  ******************************************
    Author: Ahmed Ben Mahmoud
      Info:
        This section displays a list of selected products/categories in different layouts.
  ******************************************
{% endcomment %}

{% liquid 
  assign breakpoint_desktop = section.settings.breakpoint_desktop | default: settings.breakpoint_desktop | default: 1280
  assign breakpoint_tablet = section.settings.breakpoint_tablet | default: settings.breakpoint_tablet | default: 768
%}

{% style %}
  #shopify-section-{{ section.id }}{
    --margin-top: {{ section.settings.margin_top_mobile | default: 0 }}px;
    --margin-bottom: {{ section.settings.margin_bottom_mobile | default: 0 }}px;
    --padding-top: {{ section.settings.padding_top_mobile | default: 0 }}px;
    --padding-bottom: {{ section.settings.padding_bottom_mobile | default: 0 }}px;
    --padding-left: {{ section.settings.padding_left_mobile | default: 0 }}px;
    --padding-right: {{ section.settings.padding_right_mobile | default: 0 }}px;
    
    margin: var(--margin-top) auto var(--margin-bottom);
    padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
    isolation: isolate;
  }
  #shopify-subsection-{{ section.id }}{
    --max-width: {% if section.settings.max_width_mobile > 0 %}{{ section.settings.max_width_mobile | default: breakpoint_tablet }}px {% else %} unset {% endif %};

    width: 100%;
    max-width: var(--max-width);
    margin-right: auto;
    margin-left: auto;

  }

  @media all and (min-width: {{ breakpoint_tablet }}px){
    #shopify-section-{{ section.id }}{
      --margin-top: {{ section.settings.margin_top_tablet | default: 0 }}px;
      --margin-bottom: {{ section.settings.margin_bottom_tablet | default: 0 }}px;
      --padding-top: {{ section.settings.padding_top_tablet | default: 0 }}px;
      --padding-bottom: {{ section.settings.padding_bottom_tablet | default: 0 }}px;
      --padding-left: {{ section.settings.padding_left_tablet | default: 0 }}px;
      --padding-right: {{ section.settings.padding_right_tablet | default: 0 }}px;
    }
    #shopify-subsection-{{ section.id }}{
      --max-width: {% if section.settings.max_width_tablet > 0 %}{{ section.settings.max_width_tablet | default: breakpoint_desktop }}px {% else %} unset {% endif %};
    }
  }

  @media all and (min-width: {{ breakpoint_desktop }}px){
    #shopify-section-{{ section.id }}{
      --margin-top: {{ section.settings.margin_top_desktop | default: 0 }}px;
      --margin-bottom: {{ section.settings.margin_bottom_desktop | default: 0 }}px;
      --padding-top: {{ section.settings.padding_top_desktop | default: 0 }}px;
      --padding-bottom: {{ section.settings.padding_bottom_desktop | default: 0 }}px;
      --padding-left: {{ section.settings.padding_left_desktop | default: 0 }}px;
      --padding-right: {{ section.settings.padding_right_desktop | default: 0 }}px;
    }

    #shopify-subsection-{{ section.id }}{
      --max-width: {% if section.settings.max_width_desktop > 0 %}{{ section.settings.max_width_desktop | default: 1920 }}px {% else %} unset {% endif %};
    }
  }
{% endstyle %}

<div id="shopify-subsection-{{ section.id }}">
</div>
{% schema %}
{
  "name": "Products List",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Section created by Ahmed Ben Mahmoud. Please request developer for efficient & fast modifications."
    },
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "header",
      "content": "Margin Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Margin Tablet"
    },
    {
      "type": "range",
      "id": "margin_top_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Margin Desktop"
    },
    {
      "type": "range",
      "id": "margin_top_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Padding Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Left",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Right",
      "default": 0
    },
    {
      "type": "header",
      "content": "Padding Tablet"
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Left",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Right",
      "default": 0
    },
    {
      "type": "header",
      "content": "Padding Desktop"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Left",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Right",
      "default": 0
    },
    {
      "type": "header",
      "content": "Max Width"
    },
    {
      "type": "number",
      "id": "max_width_mobile",
      "label": "Section Max Width Mobile (px)",
      "info": "If this setting is empty or set to 0 or less, the maximum width will not be set"
    },
    {
      "type": "number",
      "id": "max_width_tablet",
      "label": "Section Max Width Tablet (px)",
      "info": "If this setting is empty or set to 0 or less, the maximum width will not be set"
    },
    {
      "type": "number",
      "id": "max_width_desktop",
      "label": "Section Max Width Desktop (px)",
      "info": "If this setting is empty or set to 0 or less, the maximum width will not be set"
    },
    {
      "type": "header",
      "content": "Breakpoints"
    },
    {
      "type": "number",
      "id": "breakpoint_tablet",
      "label": "Tablet Breakpoint (px)",
      "placeholder": "768"
    },
    {
      "type": "number",
      "id": "breakpoint_desktop",
      "label": "Desktop Breakpoint (px)",
      "placeholder": "1280"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "WebNorth : Product List Section",
      "settings": {},
      "blocks": []
    },
    {
      "name": "Product List 2-column Layout",
      "settings": {},
      "blocks": []
    },
    {
      "name": "Product List 3-column Layout",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}